:host {
    display: flex;
}

.bar-logo {
    height: 50px;
    align-self: center;
}

.title-bar {
    flex-grow: 1;
    display: flex;
    min-height: 80px;
}

.menu-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 20px;
}

.title-bar-small {
    flex-grow: 1;
    display: flex;
    min-height: 50px;
}

.small-image-holder {
    flex-grow: 1;
    align-self: center;
    margin: auto;
justify-content:center;
}

.small-image {
    height: 45px;
    padding: 2px;
    
}

.menu-hamburger, .menu-options {
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 20px;
    line-height: 45px;
}
