/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Rancho', cursive;
}

.user-title-bar{
    background-color:#0068bc;
}
.user-status-bar{
    background-color:#0068bc;

}