:host{
    height: 30px;
    padding-top: 4px;
    color: #888;
    text-align: right;
}

div {
    display: inline;
    margin-left: 34px;
}

a {
    text-decoration: none;
}

.top-image {
    width: 25px;
    height: 25px;
    margin-left: 8px;
    vertical-align: middle;
}

.flag-image {
    width: 28px;
    height: 20px;
    vertical-align: middle;
}

.top-bar-text {
    color:white; 
}

span.glyphicon {
    margin-left: 4px;
    font-size: 11px;
}
